* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

:root {
  --main-color: #F8B281;
  --secondary-color: #1B1B1B;
}

@font-face {
  font-family: "argonite";
  src: url("./assets/stone\ orgonite.woff");
}

/* General */
section {
  padding: 5%;
}

h2 {
  font-size: 2.5rem;
  line-height: 125%;
  padding: 1rem 0rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 125%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav svg {
  cursor: pointer;
  z-index: 10;
}

/* Front page */
.links {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(100%);
  backdrop-filter: blur(10px);
}

.links a {
  color: var(--secondary-color);
  font-size: 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  margin-left: .5rem;
  font-size: 1.5rem;
  font-family: "argonite", sans-serif;
}

.logo img {
  width: 2.5rem;
}

.extra {
  color: var(--main-color);
}

.front-page {
  min-height: 100vh;
  color: white;
}

.selling-point {
  margin-top: 25vh;
  font-family: "argonite", sans-serif;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.selling-point h3 {
  font-family: sans-serif;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.ctas {
  margin-top: 2rem;
}

.ctas button {
  border: none;
  border-radius: .5rem;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s;
}

.cta-main {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.cta-main:hover {
  box-shadow: inset 0px 0px 0px 2px white;
}

.cta-main a {
  text-decoration: none;
  color: var(--secondary-color);
}

.cta-sec {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.cta-sec:hover {
  box-shadow: inset 0px 0px 0px 2px var(--main-color);
}

.cta-sec a {
  text-decoration: none;
  color: var(--main-color);
}

.hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Classes */
.classes {
  color: var(--secondary-color);
  text-align: center;
  font-family: "argonite", sans-serif;
}

.videos video {
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
}

.meditation,
.yoga,
.pilates {
  position: relative;
}

.videos h3 {
  position: absolute;
  color: var(--main-color);
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

/* About */
.about {
  color: var(--secondary-color);
}

.about h2 {
  font-family: "argonite", sans-serif;
  text-align: center;
}

.about p {
  line-height: 150%;
  font-size: 1.2rem;
}

.about img {
  width: 100%;
  margin-top: 2rem;
}

.mindfulness img {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    padding: 0 1%;
  }

  .videos {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  .about {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
  }

  .about img {
    width: 50%;
  }

  .about h2 {
    text-align: start;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0 10%;
  }

  .videos {
    gap: 2rem;
  }

  .our-story {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mindfulness img {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}